$base-color0: #14a18a;
$base-color1: #19CAAD;
$base-color2: #8CC7B5;
$base-color3: #A0EEE1;
$base-color5: #BEE7E9;
$base-color6: #BEEDC7;
$white: #ffffff;

$font12: 12px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font32: 32px;
$font64: 64px;


$toast-bg-color: rgba(0, 0, 0, 0.76);